# Aufgabenstellung

Analysieren Sie den [Iris-Datensatz](https://archive.ics.uci.edu/dataset/53/iris).

## a) Berechnen Sie

-  die Summe von Kelchblatt und Blütenblatt-Breite pro Messung (also für jede Zeile).

sowie über alle Messungen

-  die durchschnittliche Kelchblatt-Länge (sepal_length) und
-  die durchschnittliche Blütenblatt-Breite (petal_width)

jeweils insgesamt und pro Spezies.

## b) Grafiken
Erstellen Sie einige Grafiken aus den Daten.

## c) Zusatz
Testen Sie den Präsentationsmodus

# Daten einlesen

Der Iris-Datensatz dient in vielen Statistikpaketen zur Demonstration und ist deshalb in vielen Packete schon enthalten. Wir müssen hier also keine Daten aus einer csv-Datei einlesen.

In [12]:
import seaborn as sns

In [ ]:
iris = sns.load_dataset('iris')

In [13]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

# Daten verarbeiten

## Mittelwerte total

## Mittelwerte pro Spezies

## Summe Kelch- und Blütenblattbreite

# Ergebnisse darstellen

## Mittelwerte total

## Mittelwerte pro Spezies

## Summe Kelchblatt und Blütenblatt